/*
 * Class: SE2840 - Midterm Part 2
 * Name: David Schulz
 * Class Section: 041
 */

body {
    background-color: lightgray;
    margin: 10px;
}

button {
    margin: 10px;
}

table {
    width: 100%;
}

.firstcol {
    width: 25%;
}

p {
    color: red;
    font-weight: bold;
}