/*
 *  David Schulz
 *  Lab 1 - Web Page - HTML and CSS
 *  SE 2840 041
 */

body {
    background-color: white;
    text-align: center;
    font-family: Calibri, serif;
    color: black;
}

img {
    width: 200px;
}

table {
    display: inline-table;
    width: 85%;
    border: double black 8px;
}

th {
    width: 18%;
    font-style: italic;
    font-weight: bold;
}

td {
    width: 18%;
    border: solid black 1px;
}

.col1 {
    width: 10%;
}

.cs3840 {
    border-radius: 10px;
}

.cs3300 {
    border-radius: 10px;
}

.se2840 {
    border-radius: 10px;
}

.hu4301 {
    border-radius: 10px;
}

.or402 {
    border-radius: 10px;
}

.fh {
    border-radius: 10px;
}